# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.log*

.data/
.data/*

.env

# Python
.venv/
.venv/*
__pycache__/
__pycache__/*


# JavaScript
.DS_Store
node_modules
/dist
