.form-style {
    width: 600px;
    padding: 0;
    margin: 5px 5px 0 5px;
}
.user-close-btn:hover{
    i {
        color: black !important;
    }
}
.user-parallax-picture{
    height: 100px !important;
    width: 100px;
    border-radius: 50%;
    display: block;
}

